@model IEnumerable<CustomWidgetEditor.ViewModels.WidgetVm>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
  <h2>Current list of forms - @ViewBag.State</h2>
  @Html.ActionLink( "Add A New Entry", "AddNew", "Editor", new { stateAbbr = ViewBag.StateAbbr }, new { @class = "btn btn-outline-info float-right" } )
</div>
@if ( !Model.Any() )
{
  <p>There are no entries.</p>
}
else
{
  <table id="widgets" class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Default Metric</th>
        <th>Form Id</th>
        <th>Site</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach ( var widget in Model )
      {
        <tr>
          <td>
            @Html.ActionLink( widget.ItemTitle, "Edit", "Editor", new { id = widget.PlanLibCode, stateAbbr = widget.StateAbbr }, null )
          </td>
          <td>
            @widget.ItemDescription
          </td>
          <td>
            @widget.DefaultThreshold
          </td>
          <td>
            @widget.FormId
          </td>
          <td>
            @if ( @widget.SiteName != null )
            {
              @widget.SiteName
            }
            else
            {
              <span>All</span>
            }
          </td>
          <td>
            <button type="button" class="btn-link js-delete" data-id="@widget.PlanLibCode">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@Scripts.Render( "~/bundles/Current" )