<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Forms Admin</title>
  @Styles.Render( "~/Content/css" )
  @Scripts.Render( "~/bundles/modernizr" )
  @Scripts.Render( "~/bundles/jquery" )
  @Scripts.Render( "~/bundles/jquery-ui" )

  @RenderSection( "scripts", required: false )
  <script>
    globals = [];
    items = {};
    items["deleteForm"] = '@Url.Action("Delete", "Editor")';
    items["statesDropDown"] = '@Url.Action("StatesDropDown", "Editor")';
    globals.push(items);
  </script>
</head>
<body>
  @Html.Partial( "_TopNavigation" )
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - intoCareers</p>
    </footer>
  </div>

  
</body>
</html>
